main {
    #jumbo {
        background-image: url("../images/jumbo.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 750px;
    }
}
